/* @group Flipster Coverflow Theme */

.flipster-coverflow {

    .flip-items,
    .flip-item,
    .flip-content { transition: all 400ms ease-in-out; }

    .flip-item { perspective: 800px; }

    .flip-content {
        transform-origin: 50% 100%;
        box-reflect: below 0 -webkit-gradient(linear, left bottom, left top, color-stop(0.05, rgba(255, 255, 255, 0.12)), color-stop(0.2, transparent));
        -webkit-box-reflect: below 0 -webkit-gradient(linear, left bottom, left top, color-stop(0.05, rgba(255, 255, 255, 0.12)), color-stop(0.2, transparent));
    }

    .flip-content img:only-child { display: block; }

    .flip-past .flip-content {
        transform-origin: 0% 100%;
        transform: scale(0.75) rotateY(55deg);
    }

    .flip-future .flip-content {
        transform-origin: 100% 100%;
        transform: scale(0.75) rotateY(-55deg);
    }

    .flip-current .flip-content { transform: rotateY(0deg); }

}

/* @end */