/* @group Flat */

	.flipster-flat {
		.flip-items,
		.flip-item,
		.flip-content { transition: all 400ms ease-in-out; }

		.flip-past,
		.flip-future { opacity: 0.5; }

	  .flip-past .flip-content { transform: scale(0.75); }
    .flip-future .flip-content { transform: scale(0.75); }
	}

/* @end */